{{ define "folder" }}
{{ .Depth | depthToHeader }} {{ .Name | processPwd }}
{{ range .Files }}
[{{ .Name }}]({{ .Path }})
{{ end }}
{{- range .SubFolders }}
{{- template "folder" . }}
{{- end }}
{{- end }}

{{- template "folder" . -}}
